@font-face {
    font-family: 'PTRootUI';
    src: url('/static/fonts/PTRootUI_Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PTRootUI';
    src: url('/static/fonts/PTRootUI_Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0 auto;
    font-family: 'PTRootUI', 'Helvetica', sans-serif;
    max-width: 640px;
    color: #484848;
}
a {
    color: inherit;
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
}
button {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    padding: 0;
}
button:focus {
    outline: none;
}
