@value red from 'styles/constants.scss';

.root {
  display: flex;
  color: white;
  background-color: red;
  padding: 12px 12px;
  font-size: 22px;
  line-height: 1.5;
};

.backIcon {
  font-size: 1.5em;
  padding-right: 6px;
}

.separatorIcon {
  font-size: 0.8em;
  line-height: 33px;
  padding-top: 7px;
  padding-left: 3px;
  padding-right: 3px;
}
