node_modules
parse/processed
parse/raw
parse/cache
convertBibleQuote/new
convertBibleQuote/bible
/.idea
/electron/app
/android/app
/www/built
/www/service-worker.*
/www/version
/www/index.html
.gradle
TWA/build/
TWA/app
TWA/assetlinks.json
TWA/local.properties
android.keystore
app-release-*
.idea
