@value blue from '../../styles/constants.scss';

:local(.root) {
    composes: root from '../Button/Button.scss';
    display: block;
    padding: 18px;
    margin: 12px 0;
}

.title {
    color: blue;
}
