._-КОЛОНТИТУЛЫ-ОФОРМЛЕН_КОНЦОВКА-отст7 {
    color: #e32636;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 20px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: uppercase;
    widows: 1;
}
._-КОЛОНТИТУЛЫ-ОФОРМЛЕН_НЕВИДИМКА-на-шмуце {
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align-last: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
._-СНОСКА_Сноска-КРАСНАЯ {
    color: #e32636;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align-last: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
._-ОСНОВНОЙ_Звездочки {
    color: #e32636;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 20px;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 28px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: uppercase;
    widows: 1;
}
._-ОСНОВНОЙ_Имя-РаздСл {
    -epub-hyphens: none;
    color: #e32636;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 28px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1;
}
._-ОСНОВНОЙ_Имя-Службы {
    -epub-hyphens: none;
    color: #e32636;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 28px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: uppercase;
    widows: 1;
}
._-ОСНОВНОЙ_Имя-части-отст2 {
    color: #e32636;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 6px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: uppercase;
    widows: 1;
}
._-ОСНОВНОЙ_Имя-части-отст5 {
    color: #e32636;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 28px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: uppercase;
    widows: 1;
}
._-ОСНОВНОЙ_КРАСН-б-отст {
    color: #e32636;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align-last: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
._-ОСНОВНОЙ_КРАСН-отст1-5 {
    color: #e32636;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 4px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align-last: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
._-ОСНОВНОЙ_КРАСН-отст5 {
    color: #e32636;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 28px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align-last: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
._-ОСНОВНОЙ_МеткаНовойСтраницы {
    -epub-hyphens: none;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: always;
    text-align-last: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
._-ОСНОВНОЙ_Основной-б-отст {
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align-last: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
._-ОСНОВНОЙ_Основной-б-отст-абз {
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align-last: left;
    text-decoration: none;
    text-indent: 17px;
    text-transform: none;
    widows: 1;
}
._-ОСНОВНОЙ_Основной-отст1-5 {
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 4px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align-last: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
._-ОСНОВНОЙ_Основной-отст5 {
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 28px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align-last: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
._-ОСНОВНОЙ_ОсновнойСТ-б-отст {
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
._-ОСНОВНОЙ_ОсновнойСТ-отст1-5 {
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 4px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
._-ОСНОВНОЙ_Чтение-Писания {
    color: #e32636;
    font-size: 18px;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 28px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1;
}
._-ПЕТИТ_КРАСН-петит-б-отст {
    color: #e32636;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align-last: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
._-ПЕТИТ_КРАСН-петит-отст1-5 {
    color: #e32636;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 4px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align-last: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
