._-КОЛОНТИТУЛЫ-ОФОРМЛЕН_КОНЦОВКА-отст7 {
    color: #e32636;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 20px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: uppercase;
    widows: 1;
}
._-КОЛОНТИТУЛЫ-ОФОРМЛЕН_НЕВИДИМКА-на-шмуце {
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align-last: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
._-СНОСКА_Сноска-КРАСНАЯ {
    color: #e32636;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align-last: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
._-ОСНОВНОЙ_Звездочки {
    color: #e32636;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 20px;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 28px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: uppercase;
    widows: 1;
}
._-ОСНОВНОЙ_Имя-РаздСл {
    -epub-hyphens: none;
    color: #e32636;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 28px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1;
}
._-ОСНОВНОЙ_Имя-Службы {
    -epub-hyphens: none;
    color: #e32636;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 28px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: uppercase;
    widows: 1;
}
._-ОСНОВНОЙ_Имя-части-отст2 {
    color: #e32636;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 6px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: uppercase;
    widows: 1;
}
._-ОСНОВНОЙ_Имя-части-отст5 {
    color: #e32636;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 28px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: uppercase;
    widows: 1;
}
._-ОСНОВНОЙ_КРАСН-б-отст {
    color: #e32636;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align-last: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
._-ОСНОВНОЙ_КРАСН-отст1-5 {
    color: #e32636;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 4px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align-last: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
._-ОСНОВНОЙ_КРАСН-отст5 {
    color: #e32636;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 28px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align-last: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
._-ОСНОВНОЙ_МеткаНовойСтраницы {
    -epub-hyphens: none;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: always;
    text-align-last: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
._-ОСНОВНОЙ_Основной-б-отст {
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align-last: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
._-ОСНОВНОЙ_Основной-б-отст-абз {
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align-last: left;
    text-decoration: none;
    text-indent: 17px;
    text-transform: none;
    widows: 1;
}
._-ОСНОВНОЙ_Основной-отст1-5 {
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 4px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align-last: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
._-ОСНОВНОЙ_Основной-отст5 {
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 28px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align-last: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
._-ОСНОВНОЙ_ОсновнойСТ-б-отст {
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
._-ОСНОВНОЙ_ОсновнойСТ-отст1-5 {
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 4px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
._-ОСНОВНОЙ_Чтение-Писания {
    color: #e32636;
    font-size: 18px;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 28px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1;
}
._-ПЕТИТ_КРАСН-петит-б-отст {
    color: #e32636;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align-last: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
._-ПЕТИТ_КРАСН-петит-отст1-5 {
    color: #e32636;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 4px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align-last: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}

._-ПЕТИТ_Петит-Имя-РаздСл {
    -epub-hyphens: none;
    color: #e32636;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 14px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1;
}
._-ПЕТИТ_Петит-Имя-части-отст2 {
    -epub-hyphens: none;
    color: #e32636;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 18px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: uppercase;
    widows: 1;
}
._-ПЕТИТ_Петит-Имя-части-отст5 {
    -epub-hyphens: none;
    color: #e32636;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 14px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: uppercase;
    widows: 1;
}
._-ПЕТИТ_Петит-б-отст {
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align-last: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
._-ПЕТИТ_Петит-отст1-5 {
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 4px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align-last: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
._-ПЕТИТ_Петит-отст5 {
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 14px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align-last: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
._-ПЕТИТ_ПетитСТ-б-отст {
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
._-ПЕТИТ_ПетитСТ-отст1-5 {
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 4px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
._--КРАСНЫЙ {
    color: #e32636;
}
._-ВЫДЕЛЕНИЯ_ЖИРНЫЙ {
    font-style: normal;
    font-weight: bold;
}
._-ВЫДЕЛЕНИЯ_КРАСНЫЙ {
    color: #e32636;
}
._-ВЫДЕЛЕНИЯ_Красн-ЖИРНЫЙ {
    color: #e32636;
    font-style: normal;
    font-weight: bold;
}
._-ВЫДЕЛЕНИЯ_Красн-ПЕТИТ-в-осн {
    color: #e32636;
    font-size: 15px;
}
._-ВЫДЕЛЕНИЯ_НАДИНДЕКС-красн {
    color: #e32636;
    vertical-align: super;
}
._-ВЫДЕЛЕНИЯ_Чёрн-ПЕТИТ-в-осн {
    font-size: 15px;
}
._-СПЕЦСЛУЖЕБНЫЕ_дляДИЗ_вКРАСНОМтексте {
    color: #e6007e;
}
._-РЕДКИЕ_Знак-сноски-красной {
    color: #e32636;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
}
._-РЕДКИЕ_СТРОЧНЫЕ-в-прописн--заг- {
    font-variant: normal;
    text-transform: none;
}

._-СНОСКА_Сноска-КРАСНАЯ-кунцевая {
    color: #e32636;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align-last: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
._-СНОСКА_Сноска-ЧЁРНАЯ {
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align-last: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
._-ВЫДЕЛЕНИЯ_REGULAR {
    font-style: normal;
    font-weight: normal;
}
._-ВЫДЕЛЕНИЯ_ЖИРН-КУРСИВ {
    font-style: italic;
    font-variant: normal;
    font-weight: bold;
    text-transform: none;
}
._-ДР--ГАРНИТУРЫ_УДАРЕНИЕ {
    font-style: normal;
    font-weight: normal;
}
._-ДР--ГАРНИТУРЫ_УДАРЕНИЕ-красн {
    color: #e32636;
    font-style: normal;
    font-weight: normal;
}
._-ДР--ГАРНИТУРЫ_УДАРЕНИЕ-петит {
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
}

._-ОСНОВНОЙ_ОсновнойСТ-отст5 {
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 14px;
    text-indent: -28px;
    line-height: 1.6;
}
