._-ПЕТИТ_Петит-Имя-РаздСл {
    -epub-hyphens: none;
    color: #e32636;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 14px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1;
}
._-ПЕТИТ_Петит-Имя-части-отст2 {
    -epub-hyphens: none;
    color: #e32636;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 18px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: uppercase;
    widows: 1;
}
._-ПЕТИТ_Петит-Имя-части-отст5 {
    -epub-hyphens: none;
    color: #e32636;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 14px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: uppercase;
    widows: 1;
}
._-ПЕТИТ_Петит-б-отст {
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align-last: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
._-ПЕТИТ_Петит-отст1-5 {
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 4px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align-last: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
._-ПЕТИТ_Петит-отст5 {
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 14px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align-last: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
._-ПЕТИТ_ПетитСТ-б-отст {
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
._-ПЕТИТ_ПетитСТ-отст1-5 {
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 4px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
._--КРАСНЫЙ {
    color: #e32636;
}
._-ВЫДЕЛЕНИЯ_ЖИРНЫЙ {
    font-style: normal;
    font-weight: bold;
}
._-ВЫДЕЛЕНИЯ_КРАСНЫЙ {
    color: #e32636;
}
._-ВЫДЕЛЕНИЯ_Красн-ЖИРНЫЙ {
    color: #e32636;
    font-style: normal;
    font-weight: bold;
}
._-ВЫДЕЛЕНИЯ_Красн-ПЕТИТ-в-осн {
    color: #e32636;
    font-size: 15px;
}
._-ВЫДЕЛЕНИЯ_НАДИНДЕКС-красн {
    color: #e32636;
    vertical-align: super;
}
._-ВЫДЕЛЕНИЯ_Чёрн-ПЕТИТ-в-осн {
    font-size: 15px;
}
._-СПЕЦСЛУЖЕБНЫЕ_дляДИЗ_вКРАСНОМтексте {
    color: #e6007e;
}
._-СПЕЦСЛУЖЕБНЫЕ_дляРЕД_вЧЕРНОМтексте {
    color: #0000ff;
}
._-РЕДКИЕ_Знак-сноски-красной {
    color: #e32636;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
}
._-РЕДКИЕ_СТРОЧНЫЕ-в-прописн--заг- {
    font-variant: normal;
    text-transform: none;
}
.CharOverride-1 {
    font-size: 58%;
    vertical-align: super;
}
.CharOverride-2 {
    font-size: 58%;
}
.CharOverride-3 {
    font-size: 15px;
}
.CharOverride-4 {
    font-size: 13px;
}
.CharOverride-5 {
    font-variant: normal;
    text-transform: none;
}
.CharOverride-6 {
    font-style: normal;
    font-weight: normal;
}
.CharOverride-7 {
}
.CharOverride-8 {
    color: #e32636;
}
.CharOverride-9 {
    font-size: 12px;
}
.CharOverride-10 {
    font-style: normal;
    font-weight: bold;
}
.CharOverride-11 {
    font-size: 13px;
    font-variant: normal;
    text-transform: uppercase;
}
._idGenCharOverride-1 {
    font-size: 58%;
}
#_idContainer004 {
    display: inline-block;
    height: 33px;
    width: 21px;
}
img._idGenObjectAttribute-1 {
    height: 16px;
    width: 20px;
}
div._idGenObjectStyleOverride-1 {
    border-width: 0px;
}
