a._idGenColorInherit {
    color: inherit;
}
div.Текстовый-фрейм {
    border-style: solid;
}
p.endIndent_7 {
    color: #e32636;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 20px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: uppercase;
    widows: 1;
}
p.noteRed {
    color: #e32636;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align-last: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
p.stars {
    color: #e32636;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 11px;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 14px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: uppercase;
    widows: 1;
}
p.baseName {
    color: #e32636;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 14px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1;
}
p._-ОСНОВНОЙ_Имя-Службы {
    color: #e32636;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: uppercase;
    widows: 1;
}
p._-ОСНОВНОЙ_Имя-части-отст2 {
    color: #e32636;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 6px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: uppercase;
    widows: 1;
}
p.baseNametIndent_5 {
    color: #e32636;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 14px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: uppercase;
    widows: 1;
}
p.baseRedIndent_6 {
    color: #e32636;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align-last: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
p.baseRedtIndent_5 {
    color: #e32636;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 4px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align-last: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
p._-ОСНОВНОЙ_КРАСН-отст5 {
    color: #e32636;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 14px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align-last: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
p._-ОСНОВНОЙ_МеткаНовойСтраницы {
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: always;
    text-align-last: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
p._-ОСНОВНОЙ_Основной-б-отст {
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align-last: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
p.baseParaIndent_6 {
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align-last: left;
    text-decoration: none;
    text-indent: 17px;
    text-transform: none;
    widows: 1;
}
p.baseIndent_1_5 {
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 4px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align-last: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
p.basetIndent_5 {
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 14px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align-last: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
p.basetIndent_6 {
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
p.basetIndent_5 {
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 4px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
p._-ОСНОВНОЙ_Чтение-Писания {
    color: #e32636;
    font-size: 18px;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 14px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1;
}
p.petitRedIndent_6 {
    color: #e32636;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align-last: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
p.petitRedIndent_1_5 {
    color: #e32636;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 4px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align-last: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
p.petitNameRed {
    color: #e32636;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 14px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1;
}
p.petitNamePartRed {
    color: #e32636;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 6px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: uppercase;
    widows: 1;
}
p.petitNamePartRedIndent_5 {
    color: #e32636;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 14px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: uppercase;
    widows: 1;
}
p.petitIndent_6 {
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align-last: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
p.petitIndent_1_5 {
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 4px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align-last: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
p.petitIndent_5 {
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 14px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align-last: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
p.petitIndent_6 {
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
p.petitIndent_1_5 {
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 4px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: -28px;
    text-transform: none;
    widows: 1;
}
span._--КРАСНЫЙ {
    color: #e32636;
}
span._-ВЫДЕЛЕНИЯ_ЖИРНЫЙ {
    font-style: normal;
    font-weight: bold;
}
span.markedRed {
    color: #e32636;
}
span.markedRedBold {
    color: #e32636;
    font-style: normal;
    font-weight: bold;
}
span.markedRedPetit {
    color: #e32636;
    font-size: 15px;
}
span.markedRedIndex {
    color: #e32636;
    vertical-align: super;
}
span.markedBlack {
}
span._-ВЫДЕЛЕНИЯ_Чёрн-ПЕТИТ-в-осн {
    font-size: 15px;
}
span._-СПЕЦСЛУЖЕБНЫЕ_дляДИЗ_вКРАСНОМтексте {
    color: #e6007e;
}
span._-СПЕЦСЛУЖЕБНЫЕ_дляРЕД_вЧЕРНОМтексте {
    color: #0000ff;
}
span._-РЕДКИЕ_Знак-сноски-красной {
    color: #e32636;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
}
span.lowercaseCapital {
    font-variant: normal;
    text-transform: none;
}
p.ParaOverride-1 {
    margin-bottom: 3px;
    margin-top: 6px;
}
p.ParaOverride-2 {
    margin-top: 11px;
}
p.ParaOverride-3 {
    margin-bottom: 9px;
    margin-top: 9px;
}
p.ParaOverride-4 {
    margin-top: 7px;
}
p.ParaOverride-5 {
    margin-top: 17px;
}
p.ParaOverride-6 {
    margin-top: 7px;
    text-align: left;
}
p.ParaOverride-7 {
    margin-top: 4px;
}
p.ParaOverride-8 {
    margin-top: 9px;
}
p.ParaOverride-9 {
    text-align-last: left;
}
p.ParaOverride-10 {
    margin-bottom: 9px;
    margin-top: 16px;
}
p.ParaOverride-11 {
    margin-top: 0px;
}
p.ParaOverride-12 {
    margin-top: 10px;
}
p.ParaOverride-13 {
    margin-top: 13px;
}
p.ParaOverride-14 {
    margin-top: 12px;
}
p.ParaOverride-15 {
    margin-top: 6px;
}
p.ParaOverride-16 {
    margin-top: 5px;
}
p.ParaOverride-17 {
    margin-top: 11px;
    text-align: left;
}
p.ParaOverride-18 {
    text-align: left;
}
p.ParaOverride-19 {
    margin-bottom: 9px;
    margin-top: 11px;
}
p.ParaOverride-20 {
    margin-top: 12px;
    text-align: left;
}
span.CharOverride-1 {
    font-size: 58%;
    vertical-align: super;
}
span.CharOverride-2 {
    font-size: 58%;
}
span.CharOverride-3 {
    font-size: 15px;
}
span.CharOverride-4 {
    font-size: 13px;
}
span.CharOverride-5 {
    font-variant: normal;
    text-transform: none;
}
span.CharOverride-6 {
    font-style: normal;
    font-weight: normal;
}
span.CharOverride-7 {
}
span.CharOverride-8 {
    color: #e32636;
}
span.CharOverride-9 {
    font-size: 13px;
}
span.CharOverride-10 {
    font-style: normal;
    font-weight: bold;
}
span.CharOverride-11 {
    font-size: 13px;
    font-variant: normal;
    text-transform: uppercase;
}
span._idGenCharOverride-1 {
    font-size: 58%;
}
#_idContainer004 {
    display: inline-block;
    height: 33px;
    width: 21px;
}
img._idGenObjectAttribute-1 {
    height: 16px;
    width: 20px;
}
div._idGenObjectStyleOverride-1 {
    border-width: 0px;
}
hr.HorizontalRule-1 {
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: solid #e32636 1px;
}
div._idGenObjectLayout-1 {
    text-align: center;
}
