body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}
button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
}
button:focus {
  outline: none;
}
