@value red from 'styles/constants.scss';

.root {
    color: white;
    background-color: red;
    padding: 12px 12px;
}
.title {
    font-size: 18px;
    line-height: 1.2;
}
.subTitle {
    font-size: 14px;
    line-height: 1.5;
    margin-top: 3px;
}
