@value grayBgLight, shadow, shadowDeep from 'styles/constants.scss';

.root {
    background: white;
    box-shadow: shadow;
    padding: 12px;
    &:active {
        background-color: grayBgLight;
        box-shadow: shadowDeep;
    }
}
